.centered {
    align-content: center;
    text-align: center;
}

body{
    background-color: #0000000f;
}
body::after {
    content: "";
    background: url("../img/35405598-tentacles-seamless-background.jpg");
    opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
  ul {
    list-style-image: url("../img/burger.png");
  }
  .no-decorations {
    list-style-image: url("../img/crumbs.png");
  }

  .list-row {
      position: relative;
      top: -1rem;
  }

  .short-list {
      height: 6%;
  }